/*Переменные*/
:root {
    --primary-color: #008080;
    --text-primary: #FFF;
    --second-primary: #CC0000;
    --btn-background: #fff;
    --footer-color: #015D5D;
    --shadow--green:  0px 0px 10px 5px rgba(0, 128, 128, 0.2);
}

/*Настрйка стилей*/
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html, body {
    height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul li {
    list-style-type: none;
}

a, a:visited {
    color: inherit;
    text-decoration-line: none;
}

input[type="checkbox"] {
    max-height: 15px;
    max-width: 15px;
    width: 100%;
    border: 1px solid #fff;
    appearance: none;
}

/*Стандартные контейнеры для всего сайта*/
.wrapper {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1200px;
    border-left: 40px none;
    border-right: 40px none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.background-section {
    background: #349999;
    background: linear-gradient(180deg,transparent 15%, rgba(52, 153, 153, 1) 30%, rgba(52, 153, 153, 1) 75%, transparent 100%);
}

.btn {
    border-radius: 50px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    align-content: center;
}

.btn--default {
    padding: 10px 20px;
    font-size: 10px;
}

.btn--big {
    padding: 14px 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.btn--red {
    background: var(--second-primary);
    box-shadow: 0px 5px 5px rgba(204, 0, 0, 0.2);
    color: #FFF;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.btn--white {
    background: #FFF;
    box-shadow: var(--shadow--green);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.stage-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr) );
    gap: 20px;
}

.title {
    text-transform: uppercase;
    position: relative;
}

.title-triangle {
    padding-left: 60px;
}

.title-triangle::before{
    content: url(/source/icons/Triangle.png);
    position: absolute;
    top: 0;
    left: 0;
}

.title-triangle.triangle-middle-pos::before {
    top: 25%;
}

.text-medium {
    font-weight: 700;
    font-size: 20px;
}

.text-large {
    font-weight: 700;
    font-size: 36px;
}

.text-green {
    color: var(--primary-color);
}

.text-white {
    color: var(--text-primary);
}

.mt-50 {
    margin-top: 50px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-100 {
    margin-top: 100px;
}

ul.check-mark li::before {
    content: url(/source/icons/check-mark.svg);
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    padding-right: 8px;
}

.input--default {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 14px 12px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 128, 128, 0.3);
}

.textarea--default {
    height: 100px;
    align-content: start;
    resize: none;
}

.checkbox-container--default {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    gap: 15px;
}

.checkbox--default {
    height: 15px;
    width: 15px;
}

/*Шапка сайта*/
.menu__upper {
    background: var(--primary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 60px;
}

.menu__down {
    padding: 10px 0;
    color: var(--primary-color);
}

.menu__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 60px;
}

.menu__navbar ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 10px;
    color: var(--text-primary);
}

.menu__navbar ul li, .menu__navbar ul li a {
    font-weight: 600;
    text-transform: uppercase;
    max-width: 100px;
    text-align: center;
    align-content: center;
}

.menu__navbar ul li.current-position {
    position: relative;
}

.menu__navbar ul li.current-position::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background: #CC0000;
    position: absolute;
    bottom: -16px;
    left: 0px;
}

.menu__socials {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.menu__info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu__region::before {
    content: url(/source/icons/map-marker.png);
    height: 15px;
    width: 15px;
    padding-right: 4px;
}

.menu__region::after {
    content: url(/source/icons/arrow.svg);
    padding-left: 4px;
}

.menu__schedule::before {
    content: url(/source/icons/icon-clock.svg);
    padding-right: 4px;
}

.menu__phone {
    font-weight: 700;
}

.menu__phone::before {
    content: url(/source/icons/device-phone.svg);
    padding-right: 4px;
}

.menu__search::after {
    content: url(/source/icons/search.svg);
    padding-left: 4px;
}

.menu__search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__search input {
    background: #F3F3F3;
    height: 30px;
    min-width: 365px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: text;
}

.menu__control {
    display: flex;
    flex-direction: row;
}

.menu__panel {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 35px;
}

.menu__panel img {
    height: 30px;
    width: 30px;
}

.btn.btn--default.menu__call {
    background-color: var(--btn-background);
    color: var(--primary-color);
    text-transform: uppercase;
}

/*Подвал сайта*/
.footer {
    padding: 50px 0 30px;
    background: var(--footer-color);
    color: #FFF;
}

.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 40px;
}

.footer__phone {
    font-size: 12px;
    font-weight: 800;
}

.footer__phone::before {
    content: url(/source/icons/device-phone-white.svg);
}

.footer__socials {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 16px 0;
}

.btn.btn--default.footer__call {
    color: var(--primary-color);
    text-transform: uppercase;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.footer__menu .footer__column:last-child {
    margin-right: 100px;
}

.footer__column {
    padding-top: 40px;
}

.footer__separator {
    height: 5px;
    width: 70px;
    background: #CC0000;
}

.footer__column ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
}

.footer__column ul li, .footer__column ul li a {
    font-weight: 600;
    text-transform: uppercase;
}

.footer__column ul li:first-child {
    padding-top: 25px;
}

.footer__company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 400;
    margin-top: 60px;
}

.footer__company p {
    color: #D9D9D9;   
}

.footer__company p:last-child {
    text-align: end;
}

/*Главная страница*/
.js-init-first__banner {
    margin-top: 30px;
}

.slide__banner {
    position: relative;
}

.slide__banner img {
    width: 100%;
}

.slide__links {
    position: absolute;
    bottom: 100px;
    right: 100px;
    display: grid;
    grid-template-columns: 50% 50%;

    & :last-child {
        margin-left: 25px;
    }
}

.first__banner-pagination {
    margin-top: 20px;
    position: relative !important;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination-bullet__bar {
    display: block;
    height: 5px;
    width: 50px;
    background: #D9D9D9;
}

.pagination-bullet__bar.swiper-pagination-bullet-active {
    background: rgba(0, 128, 128, 0.5);
}

.first__banner-pagination .pagination-bullet__bar:first-child,
.reviews-pagination .pagination-bullet__bar:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.first__banner-pagination .pagination-bullet__bar:last-child,
.reviews-pagination .pagination-bullet__bar:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.info__block {
    padding: 30px 20px 45px 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 15px var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__block.solo-info__block {
    padding: 40px 50px 40px 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.info__title {
    margin: 16px 0;
    font-size: 16px;
    color: var(--second-primary);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.info__description {
    font-size: 12px;
    font-weight: 400;
}

.info__description ul li::before {
    content: "·";
    padding-right: 3px;
    font-size: 12px;
    font-weight: 700;
}

.solo-info__block .info__title {
    font-size: 20px;
    text-align: start;
    margin-left: 25px;
    margin-right: 45px;
}

.solo-info__block .info__description {
    font-size: 14px;
}

.solo-info__block .btn {
    padding: 14px 40px;
}
/*Продукция*/

.products__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.products__blocks .product__title, .products__blocks .products__block {
    height: 150px;
}

/*Подумать над картинкой, как она должна быть в центре у логотипа*/

.products__block {
    position: relative;
    background: url(/source/icons/logo-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 15px 0;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px 0 50px;
    gap: 75px;
}

.products__title {
    position: absolute;
    top: 0;
    height: 100%;
    left: 290px;
    align-content: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--second-primary);
}

/* Подумать над картой и её местоположением */

.map__section {
    background: url(/source/map-russia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -75px center;
    background-color: #FFF;
    border-radius: 10px;
    height: 100%;
    padding: 90px 40px 85px 55px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 110px;
    box-shadow: 0px 0px 10px 5px rgba(0, 128, 128, 0.2);
}

.map-info {
    padding-left: 25px;
}

.map-info:last-child {
    align-self: flex-end;
}

.map-info__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--second-primary);
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
    min-height: 48px;
    align-content: center;
}

.map-info__title::before {
    content: url(/source/icons/triangle-medium.svg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.map-info__description {
    font-size: 14px;
    font-weight: 400;
    color: black;
}

/*Форма обратной связи*/
.form-body__engineer {
    max-height: 484px;
    background: url(/source/icons/Logo-bg-gray.png), linear-gradient(90deg, rgba(0, 128, 128, 0.8) 0%, rgba(0, 128, 128, 0.2) 80%);
    border-radius: 10px;
    box-shadow: var(--shadow--green);
    padding: 80px 0px 70px 60px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.form-engineer__body {
    margin-top: 15px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 14px;
    max-width: 650px;

    & ul li {
        font-weight: 700;
    }
}

.form-engineer__form {
    display: grid;
    grid-template: 'A A B C' 'D D D D';
    gap: 6px 15px;

    & input:first-child {
        grid-area: A;
    }

    & input:nth-child(2) {
        grid-area: B;
    }

    & button {
        grid-area: C;
    }

    & div.checkbox-container--default {
        grid-area: D;
        max-width: 355px;
    }
}

.form-engineer__picture {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.series__block {
    background: url(/source/icons/logo-bg.png);
    background-color: #fff;
    background-position: center 20px;
    background-repeat: no-repeat;
    padding: 10px 35px;
    border-radius: 10px;
    box-shadow: var(--shadow--green);
    width: 100%;
    height: 100%;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.series__name {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--second-primary);
    margin-top: 40px;
    width: 100%;
}

.series__description {
    font-size: 12px;
    font-weight: 400;
    color: black;
    min-height: 40px;
}

.sales__block {
    position: relative;
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: var(--shadow--green);
    width: 100%;
    height: 100%;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sales__picture {
    max-height: 170px;
    max-width: 170px;
    height: 100%;
    width: 100%;
    margin: auto 0;

    & img {
        width: 100%;
    }
}

.sales__sticker {
    background: var(--second-primary);
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 10px 20px;
    position: absolute;
    top: -10px;
    right: 5px;
    color: #FFF;
}

.sales__name {
    width: 100%;
    font-size: 16px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.sales__price {
    width: 100%;
    font-size: 16px;
    color: var(--second-primary);
    font-weight: 700;
}

.sales__button {
    color: white;
    background: var(--primary-color);
    box-shadow: var(--shadow--green);
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.form-review__container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 35%;
    position: relative;
}

.form-problem__block {
    background: #FFF;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: var(--shadow--green);
    max-height: 420px;
    position: relative;
}

.form-problem__title {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    max-width: 375px;
}

.form-problem__container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & div.checkbox-container--default input {
        border-color: #7E7E7E;
    }
}

.form-problem__picture {
    position: absolute;
    bottom: -15px;
    right: 0;
}

.js-init-review-slider {
    width: 100%;
    height: 100%;
}

.js-init-review-slider .swiper-slide {
    background: #FFF;
    border-radius: 10px;
    padding: 40px 30px 40px 40px;
    box-shadow: var(--shadow--green);
    max-height: 375px;
}

.reviews-control {
    position: absolute;
    top: -60px;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reviews-control-next {
    content: url(/source/icons/Triangle.png);
    cursor: pointer;
}

.reviews-control-prev {
    content: url(/source/icons/Triangle.png);
    transform: rotate(180deg);
    cursor: pointer;
}

.reviews-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.review-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.review-info__company {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.review-info__logo {
    height: 70px;
    width: 70px;
}

.review-info__name {
    color: var(--second-primary);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.review-info__description {
    font-size: 12px;
    margin-top: 30px;
}

.review-info__link {
    margin-top: auto;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    text-align: end;
}


/*Медиа-запросы*/

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }

    .text-medium {
        font-size: 24px;
    }

    .text-large {
        font-size: 40px;
    }

    .info__title {
        font-size: 16px;
    }

    .info__description {
        font-size: 14px;
    }

    .form-body__engineer {
        max-height: 570px;
    }

    .form-engineer__body {
        max-width: 750px;
    }

    .map__section {
        min-height: 658px;
    }
    
    .form-problem__container {
        max-width: 445px;
    }

    .series__block {
        min-height: 320px;
    }

    .series__name {
        font-size: 18px;
    }

    .series__description {
        font-size: 14px;
    }

    .sales__block {
        min-height: 450px;
    }

    .sales__picture {
        max-height: 240px;
        max-width: 240px;
    }

    .sales__sticker {
        font-size: 18px;
    }

    .form-problem__block {
        max-height: 500px;
    }

    .footer__company p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .text-large {
        font-size: 26px;
    }

    .stage-4 {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 15px;
    }

    .input--default, .checkbox-container--default {
        max-width: 220px;
    }

    .menu__navbar {
        display: none;
    }

    .menu__control {
        display: none;
    }

    .js-init-first__banner {
        width: calc(100% + 30px);
        left: -15px;
    }

    .pagination-bullet__bar {
        width: 25px;
    }

    .info__block.solo-info__block {
        flex-direction: column;
        position: relative;
        padding: 40px 30px;
    }

    .info__block {
        padding: 25px 5px 30px 5px;
    }

    .info__title {
        font-size: 12px;
        margin: 10px 0;
    }

    .info__picture {
        height: 60px;
        width: 60px;
    }

    .info__description {
        font-size: 10px;
        text-align: center;
        line-height: 1;
    }

    .solo-info__block .info__title {
        margin: 0;
        margin-bottom: 12px;
    }

    .solo-info__block .info__description {
        text-align: center;
        font-size: 12px;
        margin-bottom: 12px;
    }

    .solo-info__block .info__picture {
        position: absolute;
        top: 10px;
        right: 5px;
        height: 60px;
        width: 60px;
    }

    .products__blocks {
        display: flex;
        flex-direction: column;
    }

    .products__blocks .product__title {
        height: 60px;
    }

    .products__blocks .products__block {
        height: 110px;
    }

    .products__block {
        gap: 0;
        padding: 0 20px 0 30px;
        background-size: 35%;
        background-position: 10px center;
        justify-content: space-between;
    }

    .probucts__picture {
        height: 75px;
        width: 75px;
    }

    .products__title {
        position: relative;
        left: unset;
        font-size: 14px;
        text-align: center;
    }

    .map__section {
        display: flex;
        flex-direction: column;
        background-size: contain;
        background-position: center 25px;
        padding: 80px 15px 45px 15px;
        gap: 30px;
    }

    .map-info__title {
        text-align: center;
    }

    .map-info__description {
        text-align: center;
    }

    .form-body__engineer {
        max-height: unset;
        padding: 40px 10px 45px;
        background-size: 50%, cover;
        background-position: 100% 95%, top;
    }

    .form-engineer__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        & button {
            max-width: 220px;
        }

        & div.checkbox-container--default {
            max-width: 220px;
            margin: 10px 0;
            font-size: 8px;
        }
    }

    .form-engineer__body {
        text-align: center;
    }

    .form-engineer__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-engineer__picture {
        max-width: 40%;
    }

    .menu__schedule {
        display: none;
    }

    .menu__phone {
        display: none;
    }

    .menu__socials {
        display: none;
    }

    .menu__call {
        display: none;
    }

    .sales__block {
        min-height: 275px;
        padding: 15px;
    }

    .sales__name, .sales__price {
        font-size: 12px;
        text-align: center;
    }

    .sales__sticker {
        font-size: 12px;
        padding: 6px 10px;
    }

    .sales__button {
        padding: 7px 20px;
    }

    .series__block {
        min-height: unset;
        padding: 30px 10px 20px;
        max-height: 200px;
        background-size: 75%;
    }

    .series__picture {
        height: 100px;
        width: 100px;
    }

    .series__name {
        font-size: 14px;
        text-align: center;
        margin-top: 15px;
    }

    .series__description {
        font-size: 10px;
        text-align: center;
    }

    .form-review__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .reviews-control {
        position: relative;
        top: 0;
        justify-content: center;
    }

    .footer__menu {
        display: none;
    }

    .footer__socials {
        justify-content: center;
    }

    .footer__phone {
        text-align: center;
    }

    .footer__body {
        justify-content: center;
    }

    .footer__company {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .footer__button {
        width: 100%;
        text-align: center;
    }

    .footer__company p, .footer__company p:last-child {
        font-size: 8px;
        text-align: center;
    }
}